<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body>
    <img class="img-responsive" src="/images/orangeBanner.jpg" alt="banner"/>
    <div class="container">
        <div class="row">
            <div class="main-center" style="max-width: 700px!important;">
                <h1>Nasza własna strona wyjątków</h1>

                <p>Każdy błąd podczas korzystania z aplikacji doprowadzi do przekierowania na tę stronę</p>

                <p>Aby powrócić na stronę główną kliknij <a th:href="@{/}">tutaj.</a> </p>

                <div th:utext="'Wiadomość którą przekazaliśmy do zdefiniowanego przez nas wyjątku: ' +
                ${exception.message}">${exception.message}</div>
            </div>
        </div>
    </div>

<div th:replace="common/header :: body-bottom-scripts"/>
<footer style="padding-top: 300px"><img class="img-responsive" src="/images/footer.png" alt="banner"/></footer>
</body>
</html>
